@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #321cbb;
  --color-secondary: #8787fe;
  --color-accent: #544aff;
  --color-accent-light: #bdc7ff;
  --color-light: #d5d9ff;
  --font-clash: "Clash Display", sans-serif;
  --font-supreme: "Supreme", sans-serif;
  --breakpoint-md: 586px;
  --breakpoint-lg: 800px;
  --breakpoint-xl: 1080px;
}

@keyframes scroll-up-infinite {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down-infinite {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-scroll-up-slow {
  animation: scroll-up-infinite 25s linear infinite;
}

.animate-scroll-down-medium {
  animation: scroll-down-infinite 20s linear infinite;
}
